# МЕТОД CONCAT
На прошлом шаге мы получили список файлов в папке и прочитали первый в датафрейм data. Давайте повторим процедуру для всех файлов и склеим все выгрузки в один датафрейм.

Этот метод позволяем склеивать два и более датафреймов в один. Например, если у нас есть датафреймы df1 и df2 с одинаковыми столбцами (обратите внимание, что название последнего столбца у них разное):

In [16]:
import pandas as pd
import os

In [4]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'], 
                    'B': ['B0', 'B1', 'B2', 'B3'], 
                    'C': ['C0', 'C1', 'C2', 'C3'], 
                    'D': ['D0', 'D1', 'D2', 'D3']})

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'], 
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'E': ['D4', 'D5', 'D6', 'D7']})

In [12]:
pd.concat([df1, df2], sort=False)

    A   B   C    D    E
0  A0  B0  C0   D0  NaN
1  A1  B1  C1   D1  NaN
2  A2  B2  C2   D2  NaN
3  A3  B3  C3   D3  NaN
0  A4  B4  C4  NaN   D4
1  A5  B5  C5  NaN   D5
2  A6  B6  C6  NaN   D6
3  A7  B7  C7  NaN   D7

# СКЛЕИВАНИЕ ДАТАФРЕЙМОВ ПО СТРОКАМ
Датафреймы при необходимости можно склеивать и горизонтально, изменив значение параметра axis с 0 на 1. При этом при объединении строки будут объединяться по одинаковому индексу:

In [13]:
pd.concat([df1, df2], axis=1)

    A   B   C   D   A   B   C   E
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

# ОБЪЕДИНЕНИЕ ФАЙЛОВ В ДАТАФРЕЙМ
Итак, ранее мы прочитали содержимое одного файла с рейтингами в датафрейм. Список всех десяти файлов у нас лежит в списке files. Запишем содержимое всех файлов в датафрейм data.

Сначала создадим его:

In [14]:
data = pd.DataFrame(columns=['userId', 'movieId', 'rating', 'timestamp'])

Для каждого имени файла filename будем записывать его содержимое в датафрейм temp. 

Допустим, имя текущего файла записано в переменную filename, тогда для его импорта в датафрейм используем переменную temp:

In [19]:
for root, subdir, files in os.walk('./module07_files/'):
    print(root, subdir, files)

./module07_files/ ['data'] []
./module07_files/data [] ['ratings_1.txt', 'ratings_10.txt', 'ratings_2.txt', 'ratings_3.txt', 'ratings_4.txt', 'ratings_5.txt', 'ratings_6.txt', 'ratings_7.txt', 'ratings_8.txt', 'ratings_9.txt']

In [23]:
for root, subdir, files in os.walk('./module07_files/'):
#     print(root, subdir, files)
    for filename in files:
        temp = pd.read_csv(os.path.join('./module07_files/data', filename), 
                           names=['userId', 'movieId', 'rating', 'timestamp'])
        data = pd.concat([data, temp])

In [24]:
data

     userId movieId  rating   timestamp
0         1      31     2.5  1260759144
1         1    1029     3.0  1260759179
2         1    1061     3.0  1260759182
3         1    1129     2.0  1260759185
4         1    1172     4.0  1260759205
5         1    1263     2.0  1260759151
6         1    1287     2.0  1260759187
7         1    1293     2.0  1260759148
8         1    1339     3.5  1260759125
9         1    1343     2.0  1260759131
10        1    1371     2.5  1260759135
11        1    1405     1.0  1260759203
12        1    1953     4.0  1260759191
13        1    2105     4.0  1260759139
14        1    2150     3.0  1260759194
15        1    2193     2.0  1260759198
16        1    2294     2.0  1260759108
17        1    2455     2.5  1260759113
18        1    2968     1.0  1260759200
19        1    3671     3.0  1260759117
20        2      10     4.0   835355493
21        2      17     5.0   835355681
22        2      39     5.0   835355604
23        2      47     4.0   835355552
24        2      50     4.0   835355586
25        2      52     3.0   835356031
26        2      62     3.0   835355749
27        2     110     4.0   835355532
28        2     144     3.0   835356016
29        2     150     5.0   835355395
...     ...     ...     ...         ...
9970    597    2288     3.0   940707124
9971    597    2291     4.0   940707879
9972    597    2322     3.0   940707300
9973    597    2338     3.0   940708973
9974    597    2349     4.0   940708252
9975    597    2352     4.0   940709088
9976    597    2355     5.0   940708603
9977    597    2363     4.0   940707179
9978    597    2395     5.0   940708456
9979    597    2396     5.0   940707703
9980    597    2406     4.0   940707985
9981    597    2413     3.0   940708918
9982    597    2414     4.0   940708761
9983    597    2428     3.0   940707473
9984    597    2454     4.0   940707412
9985    597    2458     2.0   940708603
9986    597    2467     5.0   940708672
9987    597    2470     5.0   940708603
9988    597    2475     2.0   940708918
9989    597    2525     3.0   940707511
9990    597    2527     3.0   940707230
9991    597    2528     3.0   940707179
9992    597    2529     4.0   940707230
9993    597    2554     3.0   940707412
9994    597    2571     5.0   940707124
9995    597    2572     3.0   940707828
9996    597    2613     3.0   940707355
9997    597    2657     4.0   940707124
9998    597    2661     4.0   940707609
9999    597    2662     3.0   940707473

[100004 rows x 4 columns]